<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_gorilla_power"
        android:label="GymBro"
        android:roundIcon="@mipmap/logo_gorilla_power_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppGym"
        tools:targetApi="31">
        <activity
            android:name=".ResultadosActivity"
            android:exported="false" />
        <activity
            android:name=".EntrenamientoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TablaDietaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TablaEntrenamientoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PortadaActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>